# Cấu hình API 
DISCORD_TOKEN=discord_bot_token_here
CLIENT_ID=discord_client_id_here
XAI_API_KEY=xai_api_key_here

# Cấu hình MongoDB URI
# example MONGODB_URI=mongodb://localhost:27017/luna
MONGODB_URI=uri_mongodb_here 

# Cấu hình môi trường
NODE_TLS_REJECT_UNAUTHORIZED=1
#CUSTOM_CA_CERT_PATH=SSL_CERT_PATH (nếu có) - /path/to/your/certificate.pem